server:
  port: 8002

spring:
  profiles:
    active: dev
  application:
    name: customer-user-service
  cloud:
    openfeign:
      client:
        config:
          # default 代表全局配置，对所有 @FeignClient 生效
          default:
            connect-timeout: 5000     # 连接超时 (单位: 毫秒)
            read-timeout: 5000        # 读取超时
            logger-level: HEADERS        # 日志级别 (NONE, BASIC, HEADERS, FULL)
      httpclient:
        hc5:
          enabled: false
      okhttp:
        enabled: true
#  cloud:
#    sentinel:
#      transport:
#        dashboard: localhost:8686
#        port: 8719


mall:
  fastjson:
    safe-mode: true

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: delFlag
      logic-delete-value: 1
      logic-not-delete-value: 0

geetest:
  captcha-id: "6cfa0f940dfdf09f94df903f4a5fb077"
  captcha-key: "a1a5fd08215159503b3c4032ec985d7d"

jwt:
  iss: "mall-customer-user-service"
  alg: "HS256"
  secret: "ODMwODExNzI1MzE0NTQ2MTQ3NjE4Mzc2MDE2MjczMDc="
  expire: 3600
  subject: "Mall-Login"