
mall:
  elasticsearch:
    scheme: "https"
    host: localhost
    port: 9200
    username: "elastic"
    password: "123456"
    socket-timeout: "10s"
    connect-timeout: "5s"
    ssl:
      enabled: true
      ca-certificate-path: "certs/elastic-ca.crt"