
server:
  port: 8000

spring:
  application:
    name: aggregation-service
  main:
    allow-bean-definition-overriding: true
#  cloud:
#    sentinel:
#      transport:
#        dashboard: localhost:8686
#        port: 8719
#    nacos:
#      discovery:
#        server-addr: 127.0.0.1:8848
  shardingsphere:
    datasource:

      ds-message: # 消息库
        driver-class-name: com.mysql.jdbc.Driver
        type: com.zaxxer.hikari.HikariDataSource
        username: root
        password: 123456
        jdbc-url: jdbc:mysql://${datasource.ds-message:localhost}:3306/mall_message?characterEncoding=utf-8&serverTimezone=GMT%2B8
      ds-order: # 订单库
        driver-class-name: com.mysql.jdbc.Driver
        type: com.zaxxer.hikari.HikariDataSource
        username: root
        password: 123456
        jdbc-url: jdbc:mysql://${datasource.ds-order:localhost}:3306/mall_order?characterEncoding=utf-8&serverTimezone=GMT%2B8
      ds-pay: # 订单库
        driver-class-name: com.mysql.jdbc.Driver
        type: com.zaxxer.hikari.HikariDataSource
        username: root
        password: 123456
        jdbc-url: jdbc:mysql://${datasource.ds-pay:localhost}:3306/mall_pay?characterEncoding=utf-8&serverTimezone=GMT%2B8
      ds-product: # 商品库
        driver-class-name: com.mysql.jdbc.Driver
        type: com.zaxxer.hikari.HikariDataSource
        username: root
        password: 123456
        jdbc-url: jdbc:mysql://${datasource.ds-product:localhost}:3306/mall_product?characterEncoding=utf-8&serverTimezone=GMT%2B8
      # 列出所有数据源名称
      names: ds-cart, ds-user, ds-message, ds-order, ds-pay, ds-product
    props:
      sql-show: true
    rules:
      # 用于敏感内容加密存储，encryptors 配置加密算法
      encrypt:
        encryptors:
          customer-user-encryptor:
            props:
              aes-key-value: ADbisulBtxnnKFoW
            type: AES
        tables:
          # User Service
          customer_user:
            columns:
              mail:
                cipher-column: mail
                encryptor-name: customer-user-encryptor
              phone:
                cipher-column: phone
                encryptor-name: customer-user-encryptor
          customer_user_receive_address:
            columns:
              phone:
                cipher-column: phone
                encryptor-name: customer-user-encryptor
              detail_address:
                cipher-column: detail_address
                encryptor-name: customer-user-encryptor
      sharding:
        # sharding-algorithms 配置分片算法
        sharding-algorithms:
          # Cart Service
          cart-item_sharding_by_mod:
            props:
              sharding-count: 16
            type: HASH_MOD
          # Product Service
          product-spu_sharding_by_mod_algorithm:
            props:
              algorithmClassName: com.noinch.mall.biz.product.infrastructure.algorithm.ProductSpuSnowflakeServiceShardingAlgorithm
              sharding-count: 16
              strategy: complex
            type: CLASS_BASED
          product-sku_sharding_by_mod_algorithm:
            props:
              algorithmClassName: com.noinch.mall.biz.product.infrastructure.algorithm.ProductSkuSnowflakeServiceShardingAlgorithm
              sharding-count: 16
              strategy: complex
            type: CLASS_BASED
          product-comment_sharding_by_mod:
            props:
              sharding-count: 16
            type: HASH_MOD
          # User Service
          user-sharding_by_mod:
            props:
              sharding-count: 16
            type: HASH_MOD
          # Message Service
          message-snowflake_date_algorithm:
            props:
              algorithmClassName: com.noinch.mall.biz.message.infrastructure.algorithm.SnowflakeDateShardingAlgorithm
              strategy: complex
            type: CLASS_BASED
          # Order Service
          order-item_sharding_by_mod:
            props:
              algorithmClassName: com.noinch.mall.biz.order.infrastructure.algorithm.OrderSnowflakeServiceShardingAlgorithm
              sharding-count: 16
              strategy: complex
            type: CLASS_BASED
          order_snowflake-service_algorithm:
            props:
              algorithmClassName: org.noinch.mall.biz.order.infrastructure.algorithm.OrderSnowflakeServiceShardingAlgorithm
              sharding-count: 16
              strategy: complex
            type: CLASS_BASED
        tables:
          # Cart Service
          cart_item:
            actual-data-nodes: ds-0.cart_item_$->{0..15}
            table-strategy:
              standard:
                sharding-algorithm-name: cart-item_sharding_by_mod
                sharding-column: customer_user_id
          # Product Service
          product_spu:
            actual-data-nodes: ds-0.product_spu_$->{0..15}
            table-strategy:
              complex:
                sharding-algorithm-name: product-spu_sharding_by_mod_algorithm
                sharding-columns: brand_id,id
          product_sku:
            actual-data-nodes: ds-0.product_sku_$->{0..15}
            table-strategy:
              complex:
                sharding-algorithm-name: product-sku_sharding_by_mod_algorithm
                sharding-columns: brand_id,product_id
          product_comment:
            actual-data-nodes: ds-0.product_comment_$->{0..15}
            table-strategy:
              standard:
                sharding-algorithm-name: product-comment_sharding_by_mod
                sharding-column: product_id
          # User Service
          customer_user:
            actual-data-nodes: ds-0.customer_user_$->{0..15}
            table-strategy:
              standard:
                sharding-algorithm-name: user-sharding_by_mod
                sharding-column: id
          operation_log:
            actual-data-nodes: ds-0.operation_log_$->{0..15}
            table-strategy:
              standard:
                sharding-algorithm-name: user-sharding_by_mod
                sharding-column: customer_user_id
          receive_address:
            actual-data-nodes: ds-0.receive_address_$->{0..15}
            table-strategy:
              standard:
                sharding-algorithm-name: user-sharding_by_mod
                sharding-column: customer_user_id
          # Message Service
          send_record:
            actual-data-nodes: ds-0.send_record_$->{2023..2026}_m$->{1..12}
            table-strategy:
              complex:
                sharding-algorithm-name: message-snowflake_date_algorithm
                sharding-columns: create_time,msg_id
          send_record_extend:
            actual-data-nodes: ds-0.send_record_extend_$->{2023..2026}_m$->{1..12}
            table-strategy:
              complex:
                sharding-algorithm-name: message-snowflake_date_algorithm
                sharding-columns: create_time,msg_id
          # Order Service
          order_info:
            actual-data-nodes: ds-0.order_info_$->{0..15}
            table-strategy:
              complex:
                sharding-algorithm-name: order_snowflake-service_algorithm
                sharding-columns: customer_user_id,order_sn
          order_item:
            actual-data-nodes: ds-0.order_item_$->{0..15}
            table-strategy:
              complex:
                sharding-algorithm-name: order_snowflake-service_algorithm
                sharding-columns: customer_user_id,order_sn

  data:
    redis:
      host: localhost
      port: 6379

mall:
  fastjson:
    safe-mode: true
  aggregation-url:
    gateway-service: http://localhost:8000
    message-service: http://localhost:8001
    customer-user-service: http://localhost:8002
    product-service: http://localhost:8003
    product-job-service: http://localhost:9001
    cart-service: http://localhost:8004
    order-service: http://localhost:8005
    pay-service: http://localhost:8006
    basic-data-service: http://localhost:8007
    bff-service: http://localhost:8008
    aggregation: http://localhost:8009

#
#jetcache:
#  areaInCacheName: false
#  local:
#    default:
#      type: linkedhashmap
#      keyConvertor: fastjson2
#  remote:
#    default:
#      type: redis.springdata
#      keyConvertor: fastjson2
#      keyPrefix: 'mall-aggregation:'
#      valueEncoder: KRYO5
#      valueDecoder: KRYO5
#      defaultExpireInMillis: 5000

feign:
  client:
    config:
      default:
        loggerLevel: HEADERS
        connectTimeout: 5000
        readTimeout: 5000
  httpclient:
    enabled: false
  okhttp:
    enabled: true

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: delFlag
      logic-delete-value: 1
      logic-not-delete-value: 0

# Product Service
product:
  thread-pool:
    core-pool-size: 20
    maximum-pool-size: 40
    keep-alive-time: 9999
    queue-capacity: 4096

geetest:
  captcha-id: '????????'
  private-key: '??'

#seata:
#  application-id: ${spring.application.name}
#  enable-auto-data-source-proxy: false
#  service:
#    grouplist:
#      seata-server: 127.0.0.1:8091
#    vgroup-mapping:
#      my-tx-group: seata-server
#  tx-service-group: my-tx-group
#  use-jdk-proxy: true
