
server:
  port: 8000

spring:
  application:
    name: aggregation-service
  main:
    allow-bean-definition-overriding: true
  cloud:
    # Nacos
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    # Sentinel
    sentinel:
      transport:
        dashboard: localhost:8686
        port: 8719
    # OpenFeign
    openfeign:
      client:
        config:
          # default 代表全局配置，对所有 @FeignClient 生效
          default:
            connect-timeout: 5000     # 连接超时 (单位: 毫秒)
            read-timeout: 5000        # 读取超时
            logger-level: HEADERS        # 日志级别 (NONE, BASIC, HEADERS, FULL)
      httpclient:
        hc5:
          enabled: false
      okhttp:
        enabled: true
  # Redis
  data:
    redis:
      host: localhost
      port: 6379
      password: 123456

# rabbitmq
rabbitmq:
  host: localhost
  port: 5672
  username: guest
  password: guest
  virtual-host: /
  connection-timeout: 5000
  producer:
    confirm-type: correlated  # 可选值: none, manual, correlated
    returns: true
    mandatory: true
  consumer:
    acknowledge-mode: manual  # 可选值: auto, manual
    prefetch: 20
    concurrency: 5
    max-concurrency: 10
    retry:
      enabled: true
      max-attempts: 3
      initial-interval: 2s  # 支持多种时间格式
      multiplier: 2.0

# Elasticsearch
elasticsearch:
  scheme: "https"
  host: localhost
  port: 9200
  username: "elastic"
  password: "123456"
  socket-timeout: "10s"
  connect-timeout: "5s"
  ssl:
    enabled: true
    ca-certificate-path: "certs/elastic-ca.crt"

mall:
  fastjson:
    safa-mode: true
#  bff:
#    qps-count: 1
  remote-url:
    gateway-service: http://localhost:8000
    message-service: http://localhost:8001
    customer-user-service: http://localhost:8002
    product-service: http://localhost:8003
    product-job-service: http://localhost:9001
    cart-service: http://localhost:8004
    order-service: http://localhost:8005
    pay-service: http://localhost:8006
    basic-data-service: http://localhost:8007
    bff-service: http://localhost:8008
    aggregation: http://localhost:8009

product:
  thread-pool:
    default-executor:
      core-pool-size: 20
      maximum-pool-size: 40
      keep-alive-time: 9999
      queue-capacity: 4096

pay:
  alipay:
    notify-url: http://localhost:8007/member/member/pay/callback/alipay
    server-url: https://openapi.alipaydev.com/gateway.do
    app-id: 2021006129679931
    private-key: ${ALIPAY_PRIVATE_KEY}
    alipay-public-key: ${ALIPAY_PUBLIC_KEY}
    charset: UTF8
    format: json
    sign-type: RSA2


geetest:
  captcha-id: "6cfa0f940dfdf09f94df903f4a5fb077"
  captcha-key: "a1a5fd08215159503b3c4032ec985d7d"

jwt:
  iss: "mall-customer-user-service"
  alg: "HS256"
  secret: "ODMwODExNzI1MzE0NTQ2MTQ3NjE4Mzc2MDE2MjczMDc="
  expire: 3600
  subject: "Mall-Login"

#jetcache:
#  areaInCacheName: false
#  local:
#    default:
#      type: linkedhashmap
#      keyConvertor: fastjson2
#  remote:
#    default:
#      type: redis.springdata
#      keyConvertor: fastjson2
#      keyPrefix: 'congomall-aggregation:'
#      valueEncoder: KRYO5
#      valueDecoder: KRYO5
#      defaultExpireInMillis: 5000


mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: delFlag
      logic-delete-value: 1
      logic-not-delete-value: 0

#seata:
#  application-id: ${spring.application.name}
#  enable-auto-data-source-proxy: false
#  service:
#    grouplist:
#      seata-server: 127.0.0.1:8091
#    vgroup-mapping:
#      my-tx-group: seata-server
#  tx-service-group: my-tx-group
#  use-jdk-proxy: true
