server:
  port: 8001

spring:
  profiles:
    active: dev
  application:
    name: message-service

mall:
  fastjson:
    safe-mode: true

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: delFlag
      logic-delete-value: 1
      logic-not-delete-value: 0

