server:
  port: 8002

spring:
  profiles:
    active: dev
  application:
    name: customer-user-service
#  cloud:
#    sentinel:
#      transport:
#        dashboard: localhost:8686
#        port: 8719

feign:
  client:
    config:
      default: # 对所有 Feign 客户端生效的默认配置
        connect-timeout: 5000 # 连接超时时间(ms)
        read-timeout: 5000    # 读取超时时间(ms)
        logger-level: HEADERS   # 日志级别：NONE、BASIC、HEADERS、FULL
  okhttp:
    enabled: true # 启用 OkHttp 代替默认的 HttpURLConnection（推荐）
  httpclient:
    enabled: false # 关闭 Apache HttpClient


# 自定义 starter 的参数
mall:
  fastjson:
    safe-mode: true

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: delFlag
      logic-delete-value: 1
      logic-not-delete-value: 0

geetest:
  captcha-id: "6cfa0f940dfdf09f94df903f4a5fb077"
  captcha-key: "a1a5fd08215159503b3c4032ec985d7d"

jwt:
  iss: "mall-customer-user-service"
  alg: "HS256"
  secret: "ODMwODExNzI1MzE0NTQ2MTQ3NjE4Mzc2MDE2MjczMDc="
  expire: 3600
  subject: "Mall-Login"