datasource:
  ds-user:
    driver-class-name: com.mysql.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource
    username: root
    password: 123456
    jdbc-url: jdbc:mysql://mysql:3306/mall_customer_user?characterEncoding=utf-8&serverTimezone=GMT%2B8
  names: ds-user

rules:
  encrypt:
    encryptors:
      customer-user-encryptor:
        props:
          aes-key-value: ADbisulBtxnnKFoW
        type: AES
    tables:
      customer_user:
        columns:
          mail:
            cipher-column: mail
            encryptor-name: customer-user-encryptor
          phone:
            cipher-column: phone
            encryptor-name: customer-user-encryptor
      customer_user_receive_address:
        columns:
          phone:
            cipher-column: phone
            encryptor-name: customer-user-encryptor
          detail_address:
            cipher-column: detail_address
            encryptor-name: customer-user-encryptor
  sharding:
    sharding-algorithms:
      sharding_by_mod:
        props:
          sharding-count: 16
        type: HASH_MOD
    tables:
      customer_user:
        actual-data-nodes: ds-user.customer_user_$->{0..15}
        table-strategy:
          standard:
            sharding-algorithm-name: sharding_by_mod
            sharding-column: id
      operation_log:
        actual-data-nodes: ds-user.operation_log_$->{0..15}
        table-strategy:
          standard:
            sharding-algorithm-name: sharding_by_mod
            sharding-column: customer_user_id
      receive_address:
        actual-data-nodes: ds-user.receive_address_$->{0..15}
        table-strategy:
          standard:
            sharding-algorithm-name: sharding_by_mod
            sharding-column: customer_user_id

props:
  sql-show: true
  max-connections-size-per-query: 10