
server:
  port: 8003

spring:
  profiles:
    active: dev
  application:
    name: product-service

product:
  thread-pool:
    default-executor:
      core-pool-size: 20
      maximum-pool-size: 40
      keep-alive-time: 9999
      queue-capacity: 4096

mall:
  fastjson:
    safe-mode: true


mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: delFlag
      logic-delete-value: 1
      logic-not-delete-value: 0
  mapper-locations: classpath:mapper/*.xml
#
#seata:
#  application-id: ${spring.application.name}
#  enable-auto-data-source-proxy: false
#  service:
#    grouplist:
#      seata-server: 127.0.0.1:8091
#    vgroup-mapping:
#      my-tx-group: seata-server
#  tx-service-group: my-tx-group
#  use-jdk-proxy: tr