
server:
  port: 8003

spring:
  profiles:
    active: dev
  application:
    name: product-service
  # hikari
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-test-query: select 1
      connection-timeout: 20000
      idle-timeout: 300000
      maximum-pool-size: 5
      minimum-idle: 5

product:
  thread-pool:
    default-executor:
      core-pool-size: 20
      maximum-pool-size: 40
      keep-alive-time: 9999
      queue-capacity: 4096

mall:
  fastjson:
    safe-mode: true


mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: delFlag
      logic-delete-value: 1
      logic-not-delete-value: 0
  mapper-locations: classpath:mapper/*.xml


