
server:
  port: 8008

spring:
  profiles:
    active: dev
  application:
    name: bff-service
  cloud:
    openfeign:
      client:
        config:
          # default 代表全局配置，对所有 @FeignClient 生效
          default:
            connect-timeout: 5000     # 连接超时 (单位: 毫秒)
            read-timeout: 5000        # 读取超时
            logger-level: HEADERS        # 日志级别 (NONE, BASIC, HEADERS, FULL)
      httpclient:
        hc5:
          enabled: false
      okhttp:
        enabled: true
  # hikari
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-test-query: select 1
      connection-timeout: 20000
      idle-timeout: 300000
      maximum-pool-size: 5
      minimum-idle: 5


mall:
  fastjson:
    safe-mode: true
#  bff:
#    qps-count: 1
  remote-url:
    gateway-service: http://localhost:8000
    message-service: http://localhost:8001
    customer-user-service: http://localhost:8002
    product-service: http://localhost:8003
    product-job-service: http://localhost:9001
    cart-service: http://localhost:8004
    order-service: http://localhost:8005
    pay-service: http://localhost:8006
    basic-data-service: http://localhost:8007
    bff-service: http://localhost:8008
    aggregation: http://localhost:8009



mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: delFlag
      logic-delete-value: 1
      logic-not-delete-value: 0



#jetcache:
#  areaInCacheName: false
#  local:
#    default:
#      type: linkedhashmap
#      keyConvertor: fastjson2
#  remote:
#    default:
#      type: redis.springdata
#      keyConvertor: fastjson2
#      keyPrefix: 'mall-bff:'
#      valueEncoder: KRYO5
#      valueDecoder: KRYO5
#      defaultExpireInMillis: 5000
